.container {
    display: flex;
    justify-content: space-between;
}

.div1{
    color: blue;
    text-align: center;
    width: 50%;

}
.div2{
    color: red;
    text-align: center;
    width: 50%;
}
#line {
     border-left: 3px solid green; /* Đường line dọc */
     height: auto; /* Chiều cao của đường line */
     margin: 0 10px; /* Thêm khoảng cách hai bên */
 }
#tb{
    border: 3px solid #0b5088;
    background-color: #333333;
    height: auto;
    width: 50%;

}
tr{
    border: 3px solid #0b5088;
}