a{
    color: black;
	text-decoration: none;
}
#c{
    display: flex;
    margin: auto;
}

.left{
    flex: 6;
}

.right{
    flex: 4;
}

a:hover {
    color: red;
    text-decoration: underline;
}
button:hover {
    color: red;
    text-decoration: underline;
}
#nd{
    display: flex;
    background-color: aliceblue;

}
#tt{
    font-size: 1.5rem;
    text-align: center;
}
